body {
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #1e3a8a, #020617 70%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(15, 23, 42, 0.9);
    padding: 30px;
    width: 450px;
    border-radius: 18px;
    color: #e5e7eb;
    box-shadow: 0 0 30px rgba(56,189,248,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #38bdf8;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

label {
    margin-top: 12px;
    font-size: 14px;
    display: block;
}

input, select, textarea {
    width: 100%;
    margin-top: 6px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #38bdf8;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 12px;
    color: #020617;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
}

#mensagem {
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
}